* {
    padding: 0;
    margin: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: minmax(75px, 150px) 1fr;
    grid-template-rows: minmax(35px, 70px) 1fr;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #0c4a6e;
    padding: 17px;
    color: #e0f2fe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > img {
    filter: invert(96%) sepia(75%) saturate(612%) hue-rotate(173deg) brightness(101%) contrast(99%);
}


#addButton {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding: 0px;
    border-radius: 50px;
    border-style: outset;
    border-color: #002b44;
    height: 100px;
    width: 100px;
    font-size: 75px;
    font-weight: bolder;
    color: #002b44;
    background-color: #7dd3fc;
    vertical-align: middle;
}

#addButton:hover {
    cursor: pointer;
    background-color: #4cc6ff;
}

button:hover {
    box-shadow: 0px 0px 5px #0c4a6e;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #0284c7;
    padding-left: 25px;
    padding-top: 25px;
    box-shadow: inset 0px 0px 5px #0c4a6e;
}

.sidebar > div {
    margin-top: 15px;
}

.sidebar > div:hover {
    cursor: pointer;
}

#targeted {
    color: #e0f2fe;
}

img {
    height: 20px;
    width: auto;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #e0f2fe;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    padding-top: 25px;
    padding-left: 25px;
    overflow: auto;
    box-shadow: inset 10px 10px 15px #a7dcff;
}

.toDoItemCard {
    height: 300px;
    width: 250px;
    border-radius: 20px;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 50px 150px 50px ;
    grid-template-rows: 12px 13px 75px 150px 50px;
}

.toDoItemCard:has([class^='priority-high']) {
    background-color: #0c4a6e;
    box-shadow: 5px 0px #eab308;
}

.toDoItemCard:has([class^='priority-mid']) {
    background-color: #0284c7;
    box-shadow: 5px 0px #eab308;
}

.toDoItemCard:has([class^='priority-low']) {
    background-color: #7dd3fc;
    box-shadow: 5px 0px #eab308;
}

[class^='priority'] {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
}

.checkbox {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: 10px;
}

.title {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    text-align: center;
    padding-top: 20px;
}

.dueDate {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    text-align: center;
    padding-top: 5px;
}

#deleteButton {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    margin-top: 5px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border-style: none;
}

#deleteButton:hover {
    cursor: pointer;
}

.description {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    text-align: center;
    padding-top: 20px;
}

.dropdown {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    padding-left: 5px;
    border-radius: 5px;
    border-style: none;
}

#saveButton {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    height: 25px;
    margin-right: 10px;
    border-radius: 5px;
    border-style: none;
}

#saveButton:hover {
    cursor: pointer;
}

.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 25vh; 
    padding-left: 25vw;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 80%;
}